@import '../variables.css';

.container {
  flex-direction: row;
  padding-bottom: 1em;
}

.caption {
  color: #050101;
  font-style: serif;
  font-weight: 4em;
  font-size: 1.4em;
  padding: 0.3em;
  text-align: center;
}
